* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background-color: #2E3944;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 16px;
}

.main-content{
 /* padding-top: 30%; */
  max-width: 100%;
  background-color: #141414;
  min-height: 120vh;
  margin: 0;
  border-top: none;
  align-items: center;
  justify-content: center; 
}

/* 
main {
  max-width: 100%;
  background-color: #141414;
  min-height: 120vh;
  /* padding-top: 17vh; 
  padding-top: 6rem;
  margin: 0;
  border-top: none;
} */

@media (max-width: 2000px) {
  html {
    font-size: 25px;
  }
}

@media (max-width: 1300px) {
  #progress-table{
    font-size: 20px;
    /* width: 40vw; */
  }
}

@media (max-width: 1050px) {
  #progress-table{
    font-size: 16px;
    /* width: 40vw; */
  }
}


@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
  #progress-table{
    font-size: 12px;
    /* width: 40vw; */
  }
}
@media (max-width: 625px) {
  #progress-table{
    font-size: 10px;
    /* width: 40vw; */
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
  #progress-table{
    /* font-size: 10px; */
    width: 60vw;
  }
}

body {
  min-height: 70vh;
}

button {
  background-color: #124E66;
}

h1 {
  padding-top: 0.2rem;
}

h2 {
  background-color: transparent !important;
  margin-left: 2rem;
}

.add-hab-button {
  position: fixed;
  top: 75vh;
  right: 5vw;
  width: 10vw;
  height: 7vh;
  background-color: #124E66;
  border: 1px black solid;
  font-size: 0.5rem;
}

.add-hab-button:hover {
  background-color: #D3D9D4;
  color: black;
}

.add-not-button {
  position: fixed;
  top: 83vh;
  right: 5vw;
  width: 10vw;
  height: 7vh;
  background-color: #124E66;
  border: 1px black solid;
  font-size: 0.5rem;
}

.add-not-button:hover {
  background-color: #D3D9D4;
  color: black;
}

main {
  background-color: #141414;
  min-height: 80vh;
  padding-top: 17vh;
  margin: 0;
  border-top: none;
}

.header-element {
  background-color: #2E3944;
  font-size: 1.3rem;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  height: 15vh;
  position: fixed;
}

.header-td {
  border: #748D92 1px solid;
}

.header-td:hover,
.header-td:hover a {
  background-color: #D3D9D4;
  color: black;
}

.header-td:active,
.header-td:active a {
  background-color: #124E66;
  color: white;
}

table {
  /* border: 1px solid;
  border-collapse: collapse;
  width: 70%; */
}

td,
th {
  border: 1px solid;
}

.chapter-name {
  background-color: #141414;
  font-size: 3rem;
  margin-left: 10vw;
}

#progress-table {
  margin: 0vh 5vw;
  width: 75vw;
  text-align: center;
}

.progress-table {
  margin: 0vh 5vw;
  width: 75vw;
  text-align: center;
}
